/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



/*Matheus*/
.castanho {
  background-color: #603010;
}
.btn[class='castanho']:hover, .btn[class='castanho']:focus, .btn[class='castanho']:active,
.btn-small[class='castanho']:hover, .btn-small[class='castanho']:focus, .btn-small[class='castanho']:active {
  background-color: #502000 !important;
}
.total {
  float: right;
  color: #F22;
  font-weight: bold;
  font-size: 130%;
}
.btn-birl {
  text-align: center;
  margin: 15px 5px 20px;
}

.top {
  margin-top: 15px !important;
}

/*Template*/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.tipo, .categoria {
	font-size: 200%;
}

.categoria {
	color: #52646a;
}

.receita {
	color: #197957;
}

.despesa {
	color: #FF0055;
}

.saldo {
  font-size: 280%;
  color: #dd3e43;
}

.lista {
  height: 480px;
  overflow: auto;
}

.item td {
  text-align: center;
}

input.currency {
    text-align: right;
    padding-right: 15px;
}

.material-icons {
  font-size: 170%;
}

/*Grid*/
.grid .row {
  border: 1px solid #dddde4;
  border-radius: 1px;
  background-color: #eeeef8;
  margin-bottom: 10px;
  padding: 15px 5px;
}
.grid .item {
  border: 1px solid #dddde4;
  border-radius: 1px;
  background-color: #eeeef8;
  margin-bottom: 10px;
  padding: 15px 5px;
}
.grid .item .row {
  border: 1px dotted #ccc;
  border-radius :1px;
  background-color: #e8e8f4;
  opacity: 0.9;
  margin-bottom: 7px;
  padding: 10px 3px;
}
.grid .col {
  padding: 2px;
}
.grid .titulo {
  font-size: 120%;
  font-weight: bold;
  color: #556;
}
.grid .descricao {
  font-size: 100%;
  color: #889;
  padding-bottom: 8px;
}
.grid .datahora {
  font-size: 100%;
  color: #888;
}


/*btn*/
.btn-small {
  margin-top: 4px;
  padding: 9px !important;
  padding-top: 1px !important;
}
.btn-small .left {
  margin-right: 2px !important;
}
.btn-success {
  background-color: #10ac53 !important;
}
.btn-danger {
  background-color: #c03560 !important;
}
.btn-warning {
  background-color: #d09220 !important;
}

/*Menu*/
.dropdown {
  width: 100% !important;
  top: 56px !important;
  left: 0 !important;
}
.dropdown a {
  color: #ee4c51 !important;
}

.menu i {
  font-size: 35px !important;
  margin-left: 90%;
}

/*Logo*/
.logo img {
  height: 44px;
  margin: 7px auto;
}
